{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ARPANET</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet" /> <!-- https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans -->
	<link href="css/style.css" rel="stylesheet" />

</head>

        <body>
            <section class="tm-welcome">
                            <article class="tm-media tm-media-top">
                                <h1>ARPANET</h1>
                                <p>ARPA research played a central role in launching the “Information Revolution,” including developing or furthering much of the conceptual basis for ARPANET, a pioneering network for sharing digital resources among geographically separated computers. Its initial demonstration in 1969 led to the Internet, whose world-changing consequences unfold on a daily basis today. A seminal step in this sequence took place in 1968 when ARPA contracted BBN Technologies to build the first routers, which one year later enabled ARPANET to become operational.
                                </p>
                                <hr>
                                <p>The original ARPANET grew into the Internet. Internet was based
                                on the idea that there would be multiple independent networks of
                                rather arbitrary design, beginning with the ARPANET as the
                                pioneering packet switching network, but soon to include packet
                                satellite networks, ground-based packet radio networks and other
                                networks. The Internet as we now know it embodies a key
                                underlying technical idea, namely that of open architecture
                                networking. In this approach, the choice of any individual
                                network technology was not dictated by a particular network
                                architecture but rather could be selected freely by a provider and
                                made to interwork with the other networks through a meta-level
                                “Internetworking Architecture”. Up until that time there was only
                                one general method for federating networks. This was the
                                traditional circuit switching method where networks would
                                interconnect at the circuit level, passing individual bits on a
                                synchronous basis along a portion of an end-to-end circuit
                                between a pair of end locations. Recall that Kleinrock had shown
                                in 1961 that packet switching was a more efficient switching
                                method. Along with packet switching, special purpose
                                interconnection arrangements between networks were another
                                possibility. While there were other limited ways to interconnect
                                different networks, they required that one be used as a component
                                of the other, rather than acting as a peer of the other in offering
                                end-to-end service
                                </p>
                                <p>
                                    In an open-architecture network, the individual networks may be
                                    separately designed and developed and each may have its own
                                    unique interface which it may offer to users and/or other
                                    providers. including other Internet providers. Each network can be
                                    designed in accordance with the specific environment and user
                                    requirements of that network. There are generally no constraints
                                    on the types of network that can be included or on their
                                    geographic scope, although certain pragmatic considerations will
                                    dictate what makes sense to offer.

                                </p>
                                <p>
                                    The idea of open-architecture networking was first introduced by
                                    Kahn shortly after having arrived at DARPA in 1972. This work
                                    was originally part of the packet radio program, but subsequently
                                    became a separate program in its own right. At the time, the
                                    program was called “Internetting”. Key to making the packet radio
                                    system work was a reliable end-end protocol that could maintain
                                    effective communication in the face of jamming and other radio
                                    interference, or withstand intermittent blackout such as caused by
                                    being in a tunnel or blocked by the local terrain. Kahn first
                                    contemplated developing a protocol local only to the packet radio
                                    network, since that would avoid having to deal with the multitude
                                    of different operating systems, and continuing to use NCP.
                                </p>
                                <p>
                                    However, NCP did not have the ability to address networks (and
                                    machines) further downstream than a destination IMP on the
                                    ARPANET and thus some change to NCP would also be required.
                                    (The assumption was that the ARPANET was not changeable in
                                    this regard). NCP relied on ARPANET to provide end-to-end
                                    reliability. If any packets were lost, the protocol (and presumably
                                    any applications it supported) would come to a grinding halt. In
                                    this model NCP had no end-end host error control, since the
                                    ARPANET was to be the only network in existence and it would
                                    be so reliable that no error control would be required on the part
                                    of the hosts.

                                </p>
                                <p>
                                    Thus, Kahn decided to develop a new version of the protocol
                                        which could meet the needs of an open-architecture network
                                        environment. This protocol would eventually be called the
                                        Transmission Control Protocol/Internet Protocol (TCP/IP). While
                                        NCP tended to act like a device driver, the new protocol would be
                                        more like a communications protocol.
                                </p>
                                    <br/>
                                    <a class="btn btn-outline-primary tm-btn" href="#">Back to top</a>
                            </article>
                </body>
            </section>

{% endblock %}