{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<html lang="en">
<style>
    h1 {
        font-size: 18pt;
        text-align: center;
        padding: 18px 0 18px 0;
        margin: 0 0 10px 0;
    }
    h1 span {
        border: 4px dashed #20bcd5;
        padding: 10px;
    }
    p {
        padding: 0;
        margin: 0;
    }

    #header img {
        display: block;
        width: 100px;
        height: 100px;
        margin: auto;
    }
    #header p {
        font-size: 25pt;
        color: #3b464c;
        padding-top: 5px;
        margin: 0;
        font-weight: bold;
        text-align: center;
    }
    hr {
        border: 0;
        height: 1px;
        background: #f36f48;
    }
    form {
        text-align: center;
        margin-top: 0;
    }
    img {
        width: auto;
        height: 300px;
    }
    .item-right{
        font-size: large;
        float: right;
    }

</style>
<body style="background-color:#7ff55e;">
    <header>
        <h1 class="b1">INTERNET-HISTORY</h1>
        <div class = "item-right">
        </div>
    </header>
    <p>
        Computer science was an emerging discipline in the late 1950s that began to consider time-sharing between
        computer users, and later, the possibility of achieving this over wide area networks. Independently,
        Paul Baran proposed a distributed network based on data in message blocks in the early 1960s and Donald Davies
        conceived of packet switching in 1965 at the National Physical Laboratory (NPL) and proposed building a
        national commercial data network in the UK. The Advanced Research Projects Agency (ARPA) of the U.S.
        Department of Defense awarded contracts in 1969 for the development of the ARPANET project, directed by
        Robert Taylor and managed by Lawrence Roberts. <br>
        ARPANET adopted the packet switching technology proposed by Davies and Baran, underpinned by mathematical work
        in the early 1970s by Leonard Kleinrock at UCLA. The network was built by Bolt, Beranek, and Newman.
        Early packet switching networks such as the NPL network, ARPANET, Merit Network, and CYCLADES researched and
        provided data networking in the early 1970s. ARPA projects and international working groups led to the
        development of protocols for inter networking, in which multiple separate networks could be joined into a
        network of networks, which produced various standards. Bob Kahn, at ARPA, and Vint Cerf, at Stanford
        University, published research in 1974 that evolved into the Transmission Control Protocol (TCP) and Internet
        Protocol (IP), the two protocols of the Internet protocol suite. The design included concepts from the French
        CYCLADES project directed by Louis Pouzin.
    </p><br>
    <p>
        The changes that would propel the Internet into its place as a social system took place during a relatively
        short period of no more than five years, from around 2005 to 2010.
        The term "Web 2.0" describes websites that emphasize user-generated content(including user-to-user interaction),
        usability, and interoperability. It first appeared in a January 1999 article called "Fragmented Future"
        written by Darcy DiNucci, a consultant on electronic information design. <br>
        "The Web we know now, which loads into a browser window in essentially static screenfuls, is only an embryo of
        the Web to come. The first glimmerings of Web 2.0 are beginning to appear, and we are just starting to see how
        that embryo might develop. The Web will be understood not as screenfuls of text and graphics but as a transport
        mechanism, the ether through which interactivity happens. It will appear on your computer screen, on your TV set
        your car dashboard your cell phone hand-held game machines maybe even your microwave oven". <br>
        Web 2.0 does not refer to an update to any technical specification, but rather to cumulative changes in the way
        Web pages are made and used. Web 2.0 describes an approach, in which sites focus substantially upon allowing
        users to interact and collaborate with each other in a social media dialogue as creators of user-generated
        content in a virtual community, in contrast to Web sites where people are limited to the passive viewing of
        content. Examples of Web 2.0 include social networking services, blogs, wikis, folksonomies, video sharing
        sites, hosted services, Web applications, and mashups. Terry Flew, in his 3rd Edition of New Media described
        what he believed to characterize the differences between Web 1.0 and Web 2.0.
    </p><br>
    <p>
        The first mobile phone with Internet connectivity was the Nokia 9000 Communicator, launched in Finland in 1996.
        The viability of Internet services access on mobile phones was limited until prices came down from that model,
        and network providers started to develop systems and services conveniently accessible on phones. NTT DoCoMo in
        Japan launched the first mobile Internet service, i-mode, in 1999 and this is considered the birth of the
        mobile phone Internet services. <br>
        In 2001, the mobile phone email system by Research in Motion (now BlackBerry Limited) for their BlackBerry
        product was launched in America. To make efficient use of the small screen and tiny keypad and one-handed
        operation typical of mobile phones, a specific document and networking model was created for mobile devices,
        the Wireless Application Protocol (WAP). Most mobile device Internet services operate using WAP. The growth of
        mobile phone services was initially a primarily Asian phenomenon with Japan, South Korea and Taiwan all soon
        finding the majority of their Internet users accessing resources by phone rather than by PC. Developing
        countries followed, with India, South Africa, Kenya, the Philippines, and Pakistan all reporting that the
        majority of their domestic users accessed the Internet from a mobile phone rather than a PC. The European and
        North American use of the Internet was influenced by a large installed base of personal computers, and the
        growth of mobile phone Internet access was more gradual, but had reached national penetration levels of 20–30%
        in most Western countries. The cross-over occurred in 2008, when more Internet access devices were mobile phones
        than personal computers. In many parts of the developing world, the ratio is as much as 10 mobile phone users
        to one PC user.
    </p>
</body>
</html>
</br>
{% endblock %}