{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

</br>
    <h4 class="important">
       I have used HTML, CSS, Python, Flask, Jinja to beautify this Project.<br/><br/>
        Click Here for  <a href="/basicform"><b>Calculator</b></a>
        </br> </br>
<img src="https://miro.medium.com/max/876/1*0G5zu7CnXdMT9pGbYUTQLQ.png">
        </br>
    </h4>
</br>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1561436720/particles.js"></script>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1561436735/app.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}

